<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-do list</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/login-form.css" />
  </head>
  <body>
    <main>
      <div id="login-form-wrapper">
        <form id="login-form" action="/login" method="post">
          <input
            required
            maxlength="15"
            type="text"
            placeholder="Write your id"
            name="id"
          />
          <input
            required
            type="password"
            id="password"
            name="pw"
            placeholder="password"
          />
          <input type="submit" value="Log In" />
        </form>
      </div>
    </main>
  </body>
</html>
