#weather {
  display: inline-block;
  border-radius: 20px;
  box-shadow: 2px 2px 15px rgba(58, 40, 40, 0.5);
  padding: 20px;
}

#weather p {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}
